:root {
	--color-background: #39385E;
	--color-card-yellow: #FFCF7C;
	--color-card-red: #FF9693;
	--color-card-green: #90E8D6;
	--color-card-blue: #28274B;
	--color-white: #DBDADF;
	--global-padding: 20px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&display=swap'); */


html {
	box-sizing: border-box;
	background-color: var(--color-background);
	font-family: 'Nunito', sans-serif;
}
*, 
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin:0;
	padding: 40px 50px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.page-container {

}
.pages {}

.page {
	display: flex;
	flex-direction: row;
	background-image: none !important;
}

.group {
	width: auto !important;
	height: auto !important;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.group-title {
	width: 100%;
	font-size: 32px;
	color: var(--color-white);
	font-weight: 600;
	margin-bottom: var(--global-padding);
}

.item {
	background-color: var(--color-card-blue);
	color: var(--color-white);
	border-radius: 20px;
	font-family: 'Nunito', sans-serif;
	box-shadow: 0 22px 34px 0 rgba(0,0,0,0.15);
	position: relative;
	top: 0px !important;
	left: 0px !important;
	margin-right: var(--global-padding);
	margin-bottom: var(--global-padding);
}

.item.-on {
	background: var(--color-card-yellow);
	color: var(--color-card-blue);
}
.item-title {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	font-weight: 600;
}

.item-entity--icon {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -10px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item-button {

}

.item-entity--icon {
	font-size: 50px !important;
}

.item-entity--value {
	display: none;
}

.item-slider {
	position: absolute;
	height: 100%;
	width: 100%;
	top:0 ;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
  }